﻿
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Lite - Launching New Mobile App Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Lite Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/web/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/web/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="banner" id="home">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <h1>
                    <a class="navbar-brand text-white" href="#home">
                         <img src="~/web/images/indir.jpg" alt="" class="img-fluid rounded-circle" style="height:75px; width:75px;" /> Inmobile Yazılım
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="#arge">Anasayfa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#about">Hakkımızda</a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#process">Projelerimiz</a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#services">Hizmetlerimiz</a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#partners">İş Ortaklarımız</a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#contact">İletişim</a>
                        </li>

                    </ul>
                    
                </div>

            </nav>
        </header>
        <!-- //header -->
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text" id="arge">
                <div class="slider-info">
                    <h3>Teknolojik uygulamalarınız için ARGE ve mühendislik hizmetleri veriyoruz.</h3>
                    <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="#register" role="button">More İnfo</a>
                </div>
            </div>
        </div>
    </div>

    <!-- services -->
    /////////////////
    <!-- //services -->
    <!-- //container -->
    <!-- //banner -->
    <!-- process -->
    <div class="contact-wthree" id="about">
        <div class="container py-sm-5">
            <div class="row py-lg-5 py-4">
                <div class="col-lg-4">
                    <div class="title-wthree">
                        <h3 class="agile-title">
                            Hakkımızda
                        </h3>
                        <span></span>
                    </div>
                 <p>Vizyonumuz, yaratıcı iş modelleri ve yenilikçi teknolojiler aracılığıyla 
                     tüm paydaşları için büyük değer yaratan, "olmazı olduran" bir ekip 
                     olmaktır.
                     Gerek mühendislik gerek iş uygulamalarında teknoloji ortaklarımızla 
                     birlikte çözümler geliştirmekteyiz. </p>
                    
                </div>
                <div class="offset-2"></div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <!-- register form grid -->
                    <div class="register-top1">
                        <br/>
                        <br/>
                        <h4 style="background-color:#8479E1;color:white; height:75px; padding:10px;">Sektörel Yazılımlar</h4>
                        <br/>
                        <h4 style="background-color:#8479E1;color:white; height:75px; padding:10px;">İş Yönetimi Kurumsal Yazılım Çözümleri</h4>
                        <br/>
                        <h4 style="background-color:#8479E1;color:white; height:75px; padding:10px;">Teknoloji Eğitimleri</h4>
                    </div>
                    <!--  //register form grid ends here -->
                </div>
            </div>
        </div>
        
        @RenderBody()
    </div>
    <section class="wthree-row py-lg-5" id="process">
        <div class="container py-5">
            <div class="title-wthree text-center py-lg-5">
                <h3 class="agile-title">
                    Projelerimiz
                </h3>
                <span></span>
            </div>
            <div class="row abbot-main py-lg-5 py-4 mb-sm-5">
                <div class="col-lg-4 abbot-right">
                    <img src="~/web/images/p1.png" class="img-fluid rounded-circle" alt="" />
                </div>
                <div class="offset-lg-2"></div>
                <div class="col-lg-6 about-text-grid position-relative mt-lg-0 mt-5">
                    <div class="d-flex">
                        <span class="process-circle"></span>
                        <h4 class="sec-title1">isig BYS MÜHENDISLIK</h4>
                    </div>
                    <p class="mt-md-5 mb-3 mt-3">Ministry approved software for Occupational Health and Safety operations </p>
                    <p>İş Sağlığı ve Güvenliği alanında bakanlık onaylı sektörel yazılım </p>
                    <div class="process-direction"></div>
                </div>
            </div>
            <div class="row abbot-main py-lg-5 py-4 my-md-5">
                <div class="col-lg-6 about-text-grid">
                    <div class="d-flex">
                        <h4 class="sec-title1 flow-odd">3dCrypt ARGE</h4>
                        <span class="process-circle"></span>
                    </div>
                    <ul class="list-group mt-md-3 my-3">
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3 mt-lg-0 mt-3"></i>3D Printers and</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3 mt-lg-0 mt-3"></i>IP Securing Data Transfer</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3 mt-lg-0 mt-3"></i>Telif güvenliği sağlayan</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3 mt-lg-0 mt-3"></i>3D yazıcı işletim sistemi</li>
                        
                    </ul>
                </div>
                <div class="col-lg-4 abbot-right">
                    <img src="~/web/images/p2.png" class="img-fluid rounded-circle" alt="" />
                </div>
            </div>
            <div class="row abbot-main py-lg-5 py-4 mb-sm-5">
                <div class="col-lg-4 abbot-right">
                    <img src="~/web/images/p3.png" class="img-fluid rounded-circle" alt="" />
                </div>
                <div class="offset-lg-2"></div>
                <div class="col-lg-6 about-text-grid position-relative  mt-lg-0 mt-5">
                    <div class="d-flex">
                        <span class="process-circle"></span>
                        <h4 class="sec-title1">imece SYS (Evim CRM)</h4>
                    </div>
                    <p class="mt-md-5 mb-3 mt-3">CRM and intelligent business software for "savings based peer-to-peer alternative finance systems. </p>
                    <p>Halk arasında bilinen adıyla “EVİM sektörü” yada sektörel adıyla “İmece Usulu Tasarrufa Dayalı Finansman Sistemleri” için CRM, iş yönetimi ve akıllı yazılımlar geliştirmekteyiz.. </p>
                    <div class="process-direction2"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- //process -->
    <!--partners  -->
    <div class="agileits-services py-5" id="services">
        <div class="container py-sm-5">
            <div class="title-wthree text-center">
                <h3 class="agile-title   text-white">
                    Hizmetlerimiz
                </h3>
                <span></span>
            </div>
            <div class="agileits-services-row row  py-sm-5">
                <div class="col-lg-4">
                    <div class="agileits-services-grids">
                        <img src="~/web/images/i1.jpg" alt="" class="img-fluid rounded-circle" />
                        <h4 class="sec-title">Teknoloji tabanlı ARGE iş ortaklığı
                        </h4>
                        <span></span>
                        <p>Teknolojik uygulamalarınız için ARGE ve mühendislik hizmetleri veriyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="agileits-services-grids mt-lg-0 mt-5">
                        <img src="~/web/images/i3.jpg" alt="" class="img-fluid rounded-circle" />
                        <h4 class="sec-title">ERP/CRM/BPM
                                    İş Yönetimi Yazılım Danışmanlığı
                        </h4>
                        <span></span>
                        <p>İş yönetimi yazılımları için analiz, projelendirme ve uygulamayı kapsayan baştan uca çözümler sunuyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="agileits-services-grids mt-lg-0 mt-5">
                        <img src="~/web/images/i2.jpg" alt="" class="img-fluid rounded-circle" />
                        <h4 class="sec-title">Teknolojik Eğitimler
                        </h4>
                        <span></span>
                        <p>Teknoloji tabanlı eğitim ihtiyaçlarınız için kurumsal eğitimler düzenliyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="agileits-partners py-sm-5 py-4" id="partners">
        <div class="container py-lg-5">
            <div class="title-wthree text-center">
                <h3 class="agile-title">
                    İş Ortaklarımız
                </h3>
                <span></span>
            </div>
            <ul class="list-unstyled py-md-5 partners-icon text-center">
                <li>
                    <img src="~/web/images/argeset.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/ozgan.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/setxrm.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/microsoft.jpg" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/dia.png" alt="" style="height:100px; width:100px;" />
                </li>
                <hr/>
                 <li>
                    <img src="~/web/images/buluttah.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/sap.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/cccc.jpg" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/uyum.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/polynom.jpg" alt="" style="height:100px; width:100px;" />
                </li>
                <hr/>
                 <li>
                    <img src="~/web/images/tekno.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/setxrm.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/teb.jpg" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/bizspark.png" alt="" style="height:100px; width:100px;" />
                </li>
                <li>
                    <img src="~/web/images/itu.png" alt="" style="height:100px; width:100px;" />
                </li>
                <hr/>
                <li>
                    <img src="~/web/images/ticimax.webp" alt="" style="height:100px; width:100px;" />
                </li>
            </ul>
        </div>
    </div>
    <!-- //partners -->
    <!-- contact -->
    <div class="contact-wthree" id="contact">
        <div class="container py-sm-5">
            <div class="row py-lg-5 py-4">
                <div class="col-lg-4">
                    <div class="title-wthree">
                        <h3 class="agile-title">
                            İLETİŞİM
                        </h3>
                        <span></span>
                    </div>
                 <p>Teknopark İstanbul Yerleşkesi Sanayi Mah. Teknopark Bulvarı No: 
                1/3A 209 (Muhasebe: 1/4A 101) Pendik/İstanbul – PK 
                 34906 
                 0850 885 2 995 
                 info@indata.com.tr </p>
                    <div class="d-sm-flex">
                        <a class="btn btn-primary mt-lg-5 mt-3 agile-link-cnt scroll" href="#contact" role="button">E-mail</a>
                        <a class="btn btn-primary mt-lg-5 mt-3 ml-4 agile-link-cnt bg-dark scroll" href="#footer">Telefon</a>
                    </div>
                </div>
                <div class="offset-2"></div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <!-- register form grid -->
                    <div class="register-top1">
                        
                    </div>
                    <!--  //register form grid ends here -->
                </div>
            </div>
        </div>
        
        @RenderBody()
    </div>

    <!-- //contact -->
    <footer id="footer" class="text-sm-left text-center">
        <div class="container py-4 py-sm-5">
            <h2>
                <a class="navbar-brand text-white" href="index.html">
                    <img src="~/web/images/indir.jpg" alt="" class="img-fluid rounded-circle" style="height:75px; width:75px;" /> Inmobile Yazılım
                </a>
            </h2>
             <div class="col-lg-3 col-md-4 footer-end-grid mt-md-0 mt-sm-5">
                    <div class="fv3-contact">
                        <span class="fas fa-phone mr-2"></span>
                        <p class="d-inline">
                            0850 885 2 995 
                        </p>
                    </div>
                  
                    <div class="fv3-contact">
                        <span class="fas fa-envelope-open mr-2"></span>
                        <p class="d-inline">
                            <a href="mailto:example@email.com">info@indata.com.tr</a>
                        </p>
                    </div>
                </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-5   footer-bottom-cpy">
                
                <div class="social-icons pb-md-0 pb-4">
                    <ul class="social-iconsv2 agileinfo text-center">
                        <li class="ml-lg-5">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-secondary">
                                    <span></span>Remember me?</label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-secondary">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center dont-do">Don't have an account?
                            <a href="#register" class="scroll text-dark font-weight-bold">
                                Register Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- //footer -->
    <!-- js -->
    <script src="~/web/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- start-smooth-scrolling -->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/web/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/web/js/bootstrap.js"></script>
</body>

</html>